<a href="https://colab.research.google.com/github/jbassie/HAMOYE-INTERNSHIP-PROJECTS-/blob/main/HAMOYE_REGRESSION_QUIZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
#Importing Neccesary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
e_data = pd.read_csv('energydata_complete.csv')
e_data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [45]:
e_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [46]:
e_data.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

**QUESTION 1**
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [47]:
e_data['T2']

0        19.200000
1        19.200000
2        19.200000
3        19.200000
4        19.200000
           ...
19730    25.890000
19731    25.754000
19732    25.628571
19733    25.414000
19734    25.264286
Name: T2, Length: 19735, dtype: float64

In [48]:
e_data['T6']

0         7.026667
1         6.833333
2         6.560000
3         6.433333
4         6.366667
           ...
19730    24.796667
19731    24.196667
19732    23.626667
19733    22.433333
19734    21.026667
Name: T6, Length: 19735, dtype: float64

In [49]:
from sklearn.linear_model import LinearRegression
reg_1 = LinearRegression()
X= np.array(e_data['T2'])
y= np.array(e_data['T6'])

In [51]:
X = X.reshape(-1,1)
y= y.reshape(-1,1)

In [52]:
reg_1.fit(X,y)

LinearRegression()

In [53]:
from sklearn.metrics import r2_score
score = r2_score(x,y)

In [54]:
score

-35.393237547324794

In [58]:
print(round(score,2))

-35.39

**QUESTION 2**
Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [62]:
e_data = e_data.drop(columns = ['date'])

In [63]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(e_data), columns=e_data.columns)
features_df = normalised_df.drop(columns=['lights', 'Appliances'])
target = normalised_df['Appliances']

X_train, X_test, y_train, y_test = train_test_split(features_df, target, test_size =0.3, random_state = 42)

In [64]:
reg_1.fit(X_train, y_train)

LinearRegression()

In [65]:
predicted_value = reg_1.predict(X_test)

In [66]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_value)
mae

0.05013362397742959

In [68]:
print(round(mae,2))

0.05

**QUESTION 3**
What is the Residual Sum of Squares (in two decimal places)?

In [70]:
rss = np.sum(np.square(y_test - predicted_value))
print(round(rss, 2))

45.35

**QUESTION 4**
What is the Root Mean Squared Error (in three decimal places)?

In [72]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_value))
print(round(rmse, 3))

0.088

**QUESTION 5**
What is the Coefficient of Determination (in two decimal places)?

In [74]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_value)
print(round(r2_score, 2))

0.15

**QUESTION 6**:
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [76]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

model = reg_1.fit(X_train, y_train)
linear_model_weights = get_weights_df(model, X_train, 'Linear_Model_Weight')

In [77]:
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

**QUESTION 8**
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [80]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [81]:
ridge_predicted = ridge_reg.predict(X_test)

In [82]:
rmse = np.sqrt(mean_squared_error(y_test, ridge_predicted))
print(round(rmse, 3))

0.088

**QUESTION 9**
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [84]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_model =  lasso_reg.fit(X_train, y_train)

In [85]:
lasso_model_weights = get_weights_df(lasso_model, X_train, 'Linear_Model_Weight')
lasso_model_weights

       Features  Linear_Model_Weight
0        RH_out            -0.049557
1          RH_8            -0.000110
2            T1             0.000000
3     Tdewpoint             0.000000
4    Visibility             0.000000
5   Press_mm_hg            -0.000000
6         T_out             0.000000
7          RH_9            -0.000000
8            T9            -0.000000
9            T8             0.000000
10         RH_7            -0.000000
11          rv1            -0.000000
12           T7            -0.000000
13           T6             0.000000
14         RH_5             0.000000
15           T5            -0.000000
16         RH_4             0.000000
17           T4            -0.000000
18         RH_3             0.000000
19           T3             0.000000
20         RH_2            -0.000000
21           T2             0.000000
22         RH_6            -0.000000
23          rv2            -0.000000
24    Windspeed             0.002912
25         RH_1             0.017880

**QUESTION 10**
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [86]:
lasso_predicted = lasso_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, lasso_predicted))
print(round(rmse, 3))

0.094